.Lewy {
    background: darkblue;
    border-radius: 30px;
    height: 85vh;
    width: 15%;
    text-align: center;
    margin-top: 2.5%;
    margin-right: 2%;
    margin-left:  2%;
    margin-bottom: 4%;
    padding-top: 2%;
    word-wrap: break-word;
    display: inline-block;
}

.Lewy h1 {
    color: white;
}

.Lewy button {
    margin-top: 4%;
    margin-bottom: 2%;
    margin-right: 1.5%;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    font-weight: 600;
    font-size: 110%;
    border-radius: 20px;
    border-style: solid;
    background-color: white;
}

.Lewy button:hover {
    cursor: pointer;
}

.Lewy input {
    font-size: 15px;
    font-family: Arial;
    padding: 3%;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 80%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    background-color: white;
}

.Lewy input:hover {
    cursor: pointer;
}

.Lewy select {
    font-size: 18px;
    font-family: Arial;
    padding: 1%;
    margin-bottom: 4%;
    background-color: white;
    border-color: black;
}

.Lewy select:hover {
    cursor: pointer;
}

.Lewy p {
    color: white;
    font-size: 23px;
    font-weight: 600;
}

.Lewy label {
    color: lightgray;
    font-size: 15px;
    font-weight: 600;
}

.Lewy .checkbox1 
{
    margin-left: -6em;
    display: flex;
    align-items:flex-start;
          
}

.Lewy .c1Child{
    margin-left: -8em;
}

.Lewy input.NameInput:focus{
    box-shadow: 0px 0px 20px white; 
    outline: none;
}

.Lewy select.sala:focus{
    box-shadow: 0px 0px 20px white; 
    outline: none;
}

.Lewy select option.sala{
    box-shadow: 0px 0px 20px white; 
    outline: none;
}

.Lewy input.kalendarz:focus{
    box-shadow: 0px 0px 20px white; 
    outline: none;
}